/*************************************/
/* COLORS */
/*************************************/
//header
$bg-color-header: #2b3a46;

//main
$bg-color-main: #192d3b;
$color-main: #808078;
$pb-card: 70px;

/*************************************/
/* MARGIN & PADDING */
/*************************************/




